---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import CircuitBackground from "../components/CircuitBackground.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
    image,
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    navbarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html
    lang="en"
    class="bg-background text-secondary selection:bg-orange-600/80 selection:text-white"
>
    <head>
        <BaseHead title={title} description={description} image={image} />
        <script is:inline>
            (function () {
                const theme = localStorage.getItem("theme");
                if (
                    theme === "dark" ||
                    (!theme &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                ) {
                    document.documentElement.classList.add("dark");
                }
            })();
        </script>
    </head>
    <body
        class="xl:w-[55rem] lg:w-4/5 w-full sm:px-2 md:px-4 mx-auto font-sans relative"
    >
        <CircuitBackground />
        <div>
            <Header navbarActiveItemID={navbarActiveItemID} />
            <main id="main" class="px-2 md:px-6 pb-12">
                <slot />
            </main>
        </div>
        <noise> </noise>
    </body>
</html>
