---
interface Props {
  href: string;
  label?: string;
  class?: string;
}

const { href, label, class: className } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  class:list={["text-accent hover:underline focus:outline-none", className]}
  href={href}
  aria-label={label}
>
  <slot />
</a>
