---
import type { CollectionEntry } from "astro:content";
import PostPreview from "../PostPreview.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  class?: string;
}

const { posts, class: className } = Astro.props;
---

<ul class:list={["space-y-4 sm:space-y-2", className]} role="list">
  {posts.map((post) => (
    <li class="flex flex-col gap-x-2 sm:flex-row" role="listitem">
      <PostPreview post={post} />
    </li>
  ))}
</ul>
