---
interface Props {
  command: string;
  class?: string;
}

const { command, class: className } = Astro.props;
---

<div
  class:list={[
    "mt-3 pt-2 border-t border-gray-300 dark:border-gray-700 text-muted text-xs",
    className,
  ]}
>
  <span class="text-secondary">$</span> {command}
</div>
